<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">
     
     
     <bean id="MedicoDefault" class="frgp.utn.edu.ar.entidad.Medico" scope="prototype">
     	<property name="nombre" value="Default"></property>
     	<property name="apellido" value="Default"></property>
     	<property name="estado" value="true"></property>
     </bean>
     
     <bean id="usuarioDefault" class="frgp.utn.edu.ar.entidad.Usuario" scope="prototype"></bean>
     <bean id="beanDaoUsuario" class="frgp.utn.edu.ar.daoImp.DaoUsuario" scope="singleton"></bean>
      <bean id="beanUsuarioNegocio" class="frgp.utn.edu.ar.negocioImp.UsuarioNegocio" scope="singleton">
       <property name="dao" ref="beanDaoUsuario"></property>
     </bean>
     
     
     <bean id="beanDaoMedico" class="frgp.utn.edu.ar.daoImp.DaoMedico" scope="singleton">
     </bean>
     <bean id="beanMedicoNegocio" class="frgp.utn.edu.ar.negocioImp.MedicoNegocio" scope="singleton">
     <property name="daoMedico" ref="beanDaoMedico"></property>
     </bean>
       
     <bean id="turnoDefault" class="frgp.utn.edu.ar.entidad.Turno" scope="prototype">
      <property name="estado" value="pendiente"></property>
     </bean>
      <bean id="beanDaoTurno" class="frgp.utn.edu.ar.daoImp.DaoTurno" scope="singleton">
     </bean>
     <bean id="beanTurnoNegocio" class="frgp.utn.edu.ar.negocioImp.TurnoNegocio" scope="singleton">
     <property name="dao" ref="beanDaoTurno"></property>
     </bean>
     
     
     <bean id="especialidadDefault" class="frgp.utn.edu.ar.entidad.Especialidad" scope="prototype"></bean>
     <bean id="beanDaoEspecialidad" class="frgp.utn.edu.ar.daoImp.DaoEspecialidad" scope="singleton"></bean>
     <bean id="beanEspecialidadNegocio" class="frgp.utn.edu.ar.negocioImp.EspecialidadNegocio" scope="singleton">
     <property name="dao" ref="beanDaoEspecialidad"></property>
     </bean>
     
     
          <bean id="beanPacienteNegocio" class="frgp.utn.edu.ar.negocioImp.PacienteNegocio" scope="singleton">
     	<property name="daoPaciente" ref="beanDaoPaciente"></property>
     </bean>
     
     <bean id="beanDaoPaciente" class="frgp.utn.edu.ar.daoImp.DaoPaciente" scope="singleton">
		<property name="conexion" ref="beanConexion"></property>
	</bean>
	
	<bean id="beanConexion" class="frgp.utn.edu.ar.daoImp.ConfigHibernate" scope="singleton">
	</bean>
	
	<bean id="beanPaciente" class="frgp.utn.edu.ar.entidad.Paciente" scope="prototype">
	</bean>   
</beans>